* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: rgb(63, 174, 251);
  background: radial-gradient(
    circle,
    rgba(63, 174, 251, 1) 16%,
    rgba(245, 98, 129, 1) 100%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 380px;
  height: 550px;
  background: #dcf3f3;
  border-radius: 10px;
  overflow: hidden;
}
.title {
  /* color: #dcf3f3; */
  background: #f56281;
  padding: 30px;
  text-align: center;
  font-size: 32px;
  font-weight: 900px;
  color: #f4f9f9;
  margin-bottom: 20px;
  letter-spacing: 5px;
  word-spacing: 5px;
}
#login-form2 .title {
  background: #3faefb;
  font-size: 28px;

}
#con-pas{
  margin:0;
}
i {
  color: #3faefb;
  margin: 5px;
  padding: 10px;
  min-width: 30px;
  text-align: center;
}
input {
  width: 80%;
  text-align: center;
}
.form-group i {
  position: absolute;
}

label {
  color: #3faefb;
  display: block;
  margin: 8px;
  letter-spacing: 1px;
}
.form-group {
  margin: 20px;
  font-size: 17px;
  font-weight: 500;
}
.container2 .form-group{
  margin: 10px;
  font-size: 15px;
}

section {
  display: flex;
}

#submit-btn {
  display: flex;
  justify-content: center;
}
.ikon-btn {
  position: relative;
  top: -7px;
}
.ikon-btn:last-child {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  top: -7px;
}

.btn {
  padding: 12px 57px;
  font-size: 25px;
  font-weight: 500;
  color: #dcf3f3;
  background: rgb(63, 174, 251);
  background: radial-gradient(
    circle,
    rgba(63, 174, 251, 1) 16%,
    rgba(245, 98, 129, 1) 100%
  );
  border: 1px solid #3faefb;
  cursor: pointer;
  border-radius: 5px;
  transition: 500ms;
  margin-top: 20px;
}
.btn2{
  padding: 12px 27px;

}
.btn:hover {
  transform: scale(1.05);
}
.btn:focus {
  outline: none;
}
.input {
  padding: 10px;
  outline: none;
  border-radius: 5px;
  color: #f56281;
  border: none;
}
.red{
  border:1px solid rgb(206, 13, 13);
}
input::placeholder {
  color: #3faefb;
  letter-spacing: 2px;
}
#remember {
  font-size: 15px;
  display: flex;
  margin-left: 0;
}
input[type="checkbox"] + label {
  display: block;
  margin: 3px;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label::before {
  font-family: FontAwesome;
  content: "\f00c";
  border: 0.1rem solid #3faefb;
  border-radius: 5px;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding: 3px;
  margin-right: 7px;
  color: transparent;
  cursor: pointer;
}
input[type="checkbox"]:checked + label::before,
input[type="checkbox"] + label:checked::before {
  background: #f56281;
  color: #dcf3f3;
  transition: 0.3s;
}
#new-acc {
  text-align: center;
  color: #3faefb;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 500;
  margin-top: 35px;
  cursor: pointer;
  text-decoration: underline #3faefb;
  margin-bottom: 45px;
}
footer{
  width: 100%;
  height: 60px;
  background-color: #f56281;
  border-radius: 0 0 10px 10px;
}